* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box {
    height: 50px;
    width: 100px;
    margin-bottom: 20px;
}

.box1 {
    background-color: var(--tg-theme-hint-color);
}
