@font-face {
    font-family: 'Gotham Pro Light';
    src: url("../fonts/GothamPro-Light.ttf") format("truetype")
}

@font-face {
    font-family: 'Gotham Pro Light Italic';
    src: url("../fonts/GothamPro-LightItalic.ttf") format("truetype")
}

@font-face {
    font-family: 'Gotham Pro Regular';
    src: url("../fonts/GothamPro.ttf") format("truetype")
}

@font-face {
    font-family: 'Gotham Pro Medium';
    src: url("../fonts/GothamPro-Medium.ttf") format("truetype")
}

@font-face {
    font-family: 'Comfortaa Bold';
    src: url("../fonts/Comfortaa-Bold.ttf") format("truetype")
}

:root {
    --base-font-size: 16px;
    --main-navi-font-size: 18px;
    --font-family-light: 'Gotham Pro Light';
    --font-family-light-italic: 'Gotham Pro Light Italic';
    --font-family-regular: 'Gotham Pro Regular';
    --font-family-medium: 'Gotham Pro Medium';
    --font-family-bold: 'Comfortaa Bold';
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--tg-theme-secondary-bg-color);
    font-family: 'Roboto', 'SF Pro Display';
}

h1 {
    color: var(--tg-theme-text-color);
}

.app-wrapper {
    position: relative;
}

.container {
    padding: 10px;
    max-width: 768px;
}

.main-navi {
    display: flex;
    flex-direction: column;
}

.main-navi-item {
    font-family: var(--font-family-regular);
    text-decoration: none;
    font-size: var(--main-navi-font-size);
    display: flex;
    align-items: center;
    padding: 12.5px;
    margin-bottom: 7.5px;
    background: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    border-radius: 10px;
}

.main-navi-item .img-cont{
    height: 24px;
    width: 24px;
    margin-right: 12.5px;
}

.main-navi-item .img-cont .menu-icon{
    fill: var(--tg-theme-button-color);
}

.text-box {
    margin-bottom: 20px;
    color: var(--tg-theme-text-color)
}

.text-box .title {
    font-family: var(--font-family-bold);
    font-size: 22px;
    margin-bottom: 15px;
}

.text-box p {
    font-family: var(--font-family-regular);
    font-size: 16px;
    margin-bottom: 10px;
}

.text-box i {
    font-family: var(--font-family-light-italic);
    font-size: 14px;
    margin-bottom: 10px;
}


