:root {
    --base-font-size: 16px;
    --base-line-height: 1.5;
    --base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --base-border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--base-font-family);
    background-color: var(--tg-theme-secondary-bg-color);
}

h1 {
    color: var(--tg-theme-text-color);
}

.app-wrapper {
    position: relative;
    padding-bottom: 70px;
}

.container {
    padding: 15px;
}

.bot-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    margin-bottom: 20px;
}

.bot-header .logo {
    margin-bottom: 20px;
}

.bot-header .title {
    font-size: 18px;
    line-height: var(--base-line-height);
    font-weight: 700;
    color: var(--tg-theme-text-color);
    margin-bottom: 10px;
}

.bot-header .description {
    font-size: 14px;
    line-height: var(--base-line-height);
    text-align: center;
    color: var(--tg-theme-hint-color);
    margin-bottom: 10px;
}

.main-navi {
    display: flex;
    flex-direction: column;
}

.main-navi-header {
    font-size: 14px;
    text-transform: uppercase;
    color: var(--tg-theme-hint-color);
    margin-bottom: 7px;
    padding-left: 15px;
}

.main-navi-item {
    background-color: var(--tg-theme-bg-color);
    border-radius: var(--base-border-radius);
    padding: 15px 0;
    margin-bottom: 15px;
}

.main-navi-title {
    font-size: 14px;
    color: var(--tg-theme-hint-color);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.main-navi-link {
    display: flex;
    align-items: center;
    position: relative;
    font-family: var(--base-font-family);
    text-decoration: none;
    padding: 0 15px;
}

.main-navi-link::after {
    content: '';
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('../img/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 14px;
    width: 10px;
}

.main-navi-link:not(:last-child) {
    margin-bottom: 30px;
}

.main-navi-link .img-cont {
    margin-right: 15px;
    height: 30px;
}

.main-navi-link .text {
    width: 100%;
    margin-right: -15px;
    position: relative;
    font-size: var(--base-font-size);
    color: var(--tg-theme-text-color);
}


.main-navi-link:not(:last-child) .text::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;
    height: 1px;
    width: 100%;
    background-color: var(--tg-theme-secondary-bg-color);
}

.bottom-navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--tg-theme-bg-color);
    padding: 7.5px 30px;
    height: auto;
    z-index: 10;
}

.bottom-navbar-item {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.bottom-navbar-item .title {
    font-size: 12px;
    color: var(--tg-theme-link-color);
}

.btn-container {
    padding: 30px 0;
}

.btn, a.btn, button {
    display: block;
    text-decoration: none;
    background-color: var(--tg-theme-button-color);
    border: 1px solid var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    padding: 20px;
    border-radius: var(--base-border-radius);
}

.btn.disabled, a.btn.disabled, button.disabled {
    background-color: var(--tg-theme-secondary-bg-color);
    border: 2px solid var(--tg-theme-hint-color);
    color: var(--tg-theme-hint-color);
}

.notice {
    margin-top: 10px;
    text-align: center;
    color: #F61E1E;
    font-size: 14px;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

select {
    position: relative;
    font-size: 14px;
    width: 100%;
    font-weight: 700;
    color: var(--tg-theme-text-color);
    background-color: var(--tg-theme-bg-color);
    border: none;
    border-radius: var(--base-border-radius);
    appearance: none;
    padding: 25px 25px 10px 10px;
}



select:focus{
    outline: none;
    border: none;
}

.select-container {
    position: relative;
}

.select-container::after {
    content: '';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    background-image: url('dropdown.svg');
    background-repeat: no-repeat;
    height: 18px;
    width: 16px;
}

.select-container label {
    font-size: 13px;
    color: var(--tg-theme-hint-color);
    
    top: 5px;
    left: 10px;
    pointer-events: none;
}

.form-row .select-container.s1{
    flex-basis: 100%;  
}
 
.form-row .select-container.s2{
    flex-basis: 68%;  
}

.form-row .select-container.s3{
    flex-basis: 68%;  
}

.form-row .select-container:not(:last-child) {
    margin-right: 15px;
}