@font-face {
    font-family: 'SF-Pro-Text-Light';
    src: url("../fonts/SF-Pro-Text-Light.otf") format("truetype")
}

@font-face {
    font-family: 'SF-Pro-Text-Regular';
    src: url("../fonts/SF-Pro-Text-Regular.otf") format("truetype")
}

@font-face {
    font-family: 'SF-Pro-Text-Medium';
    src: url("../fonts/SF-Pro-Text-Medium.otf") format("truetype")
}

@font-face {
    font-family: 'SF-Pro-Text-Bold';
    src: url("../fonts/SF-Pro-Text-Bold.otf") format("truetype")
}

:root {
    --base-font-size: 16px;
    --base-line-height: 1.5;
    --font-family-light: 'SF-Pro-Text-Light';
    --font-family-regular: 'SF-Pro-Text-Regular';
    --font-family-medium: 'SF-Pro-Text-Medium';
    --font-family-bold: 'SF-Pro-Text-Bold';
    --base-border-radius: 10px;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--tg-theme-secondary-bg-color);
    font-family: 'Roboto', 'SF Pro Display';
}

h1 {
    color: var(--tg-theme-text-color);
}

.app-wrapper {
    position: relative;
}

.container {
    padding: 15px;
}

.bot-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    margin-bottom: 20px;
}

.bot-header .logo {
    margin-bottom: 20px;
}

.bot-header .title {
    font-family: var(--font-family-bold);
    font-size: 18px;
    line-height: var(--base-line-height);
    color: var(--tg-theme-text-color);
    margin-bottom: 10px;
}

.bot-header .description {
    font-family: var(--font-family-regular);
    font-size: 14px;
    line-height: var(--base-line-height);
    text-align: center;
    color: var(--tg-theme-hint-color);
    margin-bottom: 10px;
}

.main-navi {
    display: flex;
    flex-direction: column;
}

.main-navi-item {
    margin-bottom: 20px;
}

.main-navi-title {
    font-family: var(--font-family-regular);
    font-size: 14px;
    color: var(--tg-theme-hint-color);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.main-navi-link-container {
    background-color: var(--tg-theme-bg-color);
    border-radius: var(--base-border-radius);
    background-color: var(--tg-theme-bg-color);
    padding: 15px;
}

.main-navi-link {
    display: flex;
    align-items: center;
    font-family: var(--font-family-regular);
    text-decoration: none;
}

.main-navi-link:not(:last-child) {
    margin-bottom: 20px;
}

.main-navi-link .img-cont {
    margin-right: 15px;
}

.main-navi-link .text {
    margin-right: -15px;
    width: 100%;
    padding-bottom: 10px;
}

.main-navi-link .text .up{
    font-size: var(--base-font-size);
    color: var(--tg-theme-link-color);
}

.main-navi-link .text .sub{
    font-size: 13px;
    color: var(--tg-theme-hint-color);
}

.main-navi-link:not(:last-child) .text{
    border-bottom: var(--tg-theme-hint-color);
}