:root {
    --base-font-size: 14px;
    --header-font-size: 24px;
    --header-2-font-size: 16px;
    --btn-font-size: 16px;
    --base-line-height: 1.5;
    --base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --base-border-radius: 10px;
    --base-gutter: 15px;
    --color-red: #F61E1E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--base-font-family);
    background-color: var(--tg-theme-secondary-bg-color);
}

.app-wrapper {
    
    padding-bottom: 70px;
}

/* Technical classes */

.p5 {
    padding: 5px;
}

.p10 {
    padding: 10px;
}

.p15 {
    padding: 15px;
}

.p20 {
    padding: 20px;
}

.p30 {
    padding: 30px;
}

.pl15 {
    padding-left: 15px;
}

.pr15 {
    padding-right: 15px;
}

.mb0 {
    margin-bottom: 0 !important;
}

.mb5 {
    margin-bottom: 5px !important;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.center {
    text-align: center;
}

.text.hint {
    color: var(--tg-theme-hint-color) !important;
}

.bold {
    font-weight: 700;
}
.medium {
    font-weight: 550;
}

.border {
    border-bottom: 1px solid var(--tg-theme-secondary-bg-color);
}

.border-hint {
    border-bottom: 1px solid var(--tg-theme-hint-color);
}

/* Elements */

.header {
    font-size: var(--header-font-size);
    line-height: 1.3;
    font-weight: 700;
    color: var(--tg-theme-text-color);
    margin-bottom: 15px;
}

.header-2 {
    font-size: var(--header-2-font-size);
    line-height: var(--base-line-height);
    font-weight: 500;
    color: var(--tg-theme-text-color);
    margin-bottom: 10px;
}

.sub-header {
    font-size: var(--base-font-size);
    text-transform: uppercase;
    color: var(--tg-theme-hint-color);
    margin-bottom: 7px;
    padding-left: 15px;
}

.text {
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
    color: var(--tg-theme-text-color);
    margin-bottom: 10px;
}

.link {
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
    color: var(--tg-theme-link-color);
    text-decoration: none;
}

.notice {
    font-size: var(--base-font-size);
    margin-top: 10px;
    text-align: center;
    color: var(--color-red);
}

/* Grid */

.container {
    padding: 15px;
    width: 100%;
}

.row {
    display: flex;
}

.row .between{
    justify-content: space-between;
}

.row .col {
    flex-basis: 1;
    width: 100%;
}

/* buttons */

.btn,
a.btn,
button.btn,
input.btn {
    display: block;
    width: 100%;
    font-size: var(--btn-font-size);
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    padding: var(--base-gutter) calc(var(--base-gutter) * 2);
    border-radius: var(--base-border-radius);
    border: none;
    
}

.btn.prim,
a.btn.prim,
button.btn.prim,
input.btn.prim {
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
}

.btn.hint,
a.btn.hint,
button.btn.hint,
input.btn.hint {
    background-color: var(--tg-theme-hint-color);
    color: var(--tg-theme-button-text-color);
}

.btn.bg,
a.btn.bg,
button.btn.bg,
input.btn.bg {
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
}

.card .btn.bg,
.card a.btn.bg,
.card button.btn.bg,
.card input.btn.bg {
    background-color: var(--tg-theme-secondary-bg-color);
    color: var(--tg-theme-text-color);
}

.btn.dis,
a.btn.dis,
button.btn.dis,
input.btn.dis {
    background-color: transparent;
    color: var(--tg-theme-hint-color);
    border: 2px solid var(--tg-theme-hint-color);
}

.btn-container {
    padding: calc(var(--base-gutter) * 2) 0;
}

/* Components */

/* images */

img {
    max-width: 100%;
    display: block;
}

img.img-card {
    width: 100%;
    border-radius: var(--base-border-radius) var(--base-border-radius) 0 0;
}

img.solo {
    border-radius: var(--base-border-radius);
}

.img-container img {
    max-width: 100%;
    width: 100%;
}

.img-list {
    margin-bottom: 20px;
}

.img-list img {
    width: 100%;
}

.img-list img:first-child {
    border-radius: var(--base-border-radius) var(--base-border-radius) 0 0;
}

.img-list img:last-child {
    border-radius: 0 0 var(--base-border-radius) var(--base-border-radius);
}

/* Pagination */

.pagination-container {
    margin: calc(var(--base-gutter) * 2) 0;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination .pagination-link{
    display: block;
    font-size: var(--btn-font-size);
    color: var(--tg-theme-text-color);
    text-decoration: none;
    padding: var(--base-gutter) calc(var(--base-gutter) * 2);
    background-color: var(--tg-theme-bg-color);
    border-radius: var(--base-border-radius);
}

.pagination .pagination-link:not(:last-child) {
    margin-right: 15px;
}

/* Horizontal list */

.horizontal-list {
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
    font-weight: 400;
    color: var(--tg-theme-hint-color);
    margin-bottom: 10px;
    display: flex;
}

.horizontal-list div{
    position: relative;
    padding-right: 20px;
}

.horizontal-list div:not(:last-child):after {
    content: '';
    display: block;
    height: 4px;
    width: 4px;
    position: absolute;
    right: 7px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('cirlce.svg');
    background-repeat: no-repeat;
}

.horizontal-list div span {
    margin-right: 5px;
}

/* badge */

.badge {
    display: inline-block;
    font-size: var(--base-font-size);
    color: var(--tg-theme-text-color);
    background-color: var(--tg-theme-bg-color);
    padding: 5px 10px;
    margin-bottom: 10px;
    margin-right: 7px;
    border-radius: var(--base-border-radius);
}

.card .badge {
    background-color: var(--tg-theme-secondary-bg-color);
}

/* Card */

.card {
    display: block;
    text-decoration: none;
    border-radius: var(--base-border-radius);
    background-color: var(--tg-theme-bg-color);
    margin-bottom: 20px;
}

/* Card contact rating */

.card-contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-contact .rating{
    display: flex;
    align-items: center;
}

.card-contact .info .name{
    font-size: 16px;
    font-weight: 600;
    color: var(--tg-theme-text-color);
    margin-bottom: 5px;
}

.card-contact .info .link{
    font-size: 14px;
    color: var(--tg-theme-link-color);
}

.card-contact .rating img{
    margin-right: 5px;
}

.card-contact .rating div{
    font-size: 16px;
    color: var(--tg-theme-text-color);
}

/* Card price */

.card-price{
    padding: 15px;
    border-bottom: 1px solid var(--tg-theme-secondary-bg-color);
}

.card-price .price-item:not(:last-child){
    margin-bottom: 5px;
}

.card-price .price-item{
    display: flex;
    justify-content: space-between;
}

.card-price .price-item div:first-child {
    font-size: 14px;
    color: var(--tg-theme-hint-color);
}

.card-price .price-item div:last-child {
    font-size: 16px;
    font-weight: 700;
    color: var(--tg-theme-text-color);
    text-align: right;
}

/* Forms */

.form-group {
    margin-bottom: var(--base-gutter);
}

label {
    display: inline-block;
    font-size: var(--base-font-size);
    text-transform: uppercase;
    color: var(--tg-theme-hint-color);
    margin-bottom: 7px;
    padding-left: 15px;
}

.form-control {
    font-size: var(--base-font-size);
    line-height: 1;
    display: block;
    width: 100%;
    border: 1px solid var(--tg-theme-bg-color);
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    border-radius: var(--base-border-radius);
    padding: var(--base-gutter);
    padding-right: 40px;
}

.form-control.error {
    border: 2px solid var(--color-red);
    background-image: url('error.svg');
    background-repeat: no-repeat;
    background-position: 97% center;
}

.form-error {
    font-size: var(--base-font-size);
    color: var(--color-red);
    margin-top: 5px;
    padding-left: var(--base-gutter);
}

.form-control.select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('dropdown.svg');
    background-repeat: no-repeat;
    background-position: 97% center;
}

.form-control.textarea {
   min-height: 100px;
   resize: vertical;
}

.bot-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    margin-bottom: 20px;
}

.bot-header .logo {
    margin-bottom: 20px;
}

.bot-header .title {
    font-size: 18px;
    line-height: var(--base-line-height);
    font-weight: 700;
    color: var(--tg-theme-text-color);
    margin-bottom: 10px;
}

.bot-header .description {
    font-size: 14px;
    line-height: var(--base-line-height);
    text-align: center;
    color: var(--tg-theme-hint-color);
    margin-bottom: 10px;
}

.main-navi {
    display: flex;
    flex-direction: column;
}

.main-navi-header {
    font-size: 14px;
    text-transform: uppercase;
    color: var(--tg-theme-hint-color);
    margin-bottom: 7px;
    padding-left: 15px;
}

.main-navi-item {
    background-color: var(--tg-theme-bg-color);
    border-radius: var(--base-border-radius);
    padding: 15px 0;
    margin-bottom: 15px;
}

.main-navi-title {
    font-size: 14px;
    color: var(--tg-theme-hint-color);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.main-navi-link {
    display: flex;
    align-items: center;
    position: relative;
    font-family: var(--base-font-family);
    text-decoration: none;
    padding: 0 15px;
}

.main-navi-link::after {
    content: '';
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('../img/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 14px;
    width: 10px;
}

.main-navi-link:not(:last-child) {
    margin-bottom: 30px;
}

.main-navi-link .img-cont {
    margin-right: 15px;
    height: 30px;
}

.main-navi-link .text {
    width: 100%;
    margin-right: -15px;
    position: relative;
    font-size: var(--base-font-size);
    color: var(--tg-theme-text-color);
    line-height: 1;
    margin-bottom: 3px;
}


.main-navi-link:not(:last-child) .text::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;
    height: 1px;
    width: 100%;
    background-color: var(--tg-theme-secondary-bg-color);
}

.bottom-navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--tg-theme-bg-color);
    padding: 7.5px 30px;
    height: auto;
    z-index: 10;
}

.bottom-navbar-item {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.bottom-navbar-item .title {
    font-size: 12px;
    color: var(--tg-theme-link-color);
}

.real-estate-filter {
    margin-bottom: 30px;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.real-estate-filter select {
    font-size: 14px;
    width: 100%;
    font-weight: 700;
    color: var(--tg-theme-text-color);
    background-color: var(--tg-theme-bg-color);
    border: none;
    border-radius: var(--base-border-radius);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 26px 25px 8px 10px;
}

.real-estate-filter select:focus{
    outline: none;
    border: none;
} 

.real-estate-filter .select-container {
    position: relative;
}

.real-estate-filter .arrows {
    content: '';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    background-image: url('dropdown.svg');
    background-repeat: no-repeat;
    height: 18px;
    width: 16px;
    pointer-events: none;
}

.real-estate-filter .select-container label {
    font-size: 13px;
    color: var(--tg-theme-hint-color);
    position: absolute; 
    top: 7px;
    left: 10px;
    pointer-events: none;
}

.form-row .select-container.s1{
    flex-basis: 100%;  
}
 
.form-row .select-container.s2{
    flex-basis: 68%;  
}

.form-row .select-container.s3{
    flex-basis: 68%;  
}

.form-row .select-container:not(:last-child) {
    margin-right: 15px;
}

.real-estate-form {
    margin-bottom: 30px;
}

.real-estate-form textarea {
    min-height: 100px;
    font-size: var(--base-font-size);
    width: 100%;
    padding: 15px;
    color: var(--tg-theme-text-color);
    border-radius: var(--base-border-radius);
    background-color: var(--tg-theme-bg-color);
    border: 1px solid var(--tg-theme-bg-color);
    resize: vertical;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
    margin-bottom: 10px;
}





.real-estate-form .form-control.select {
    margin-bottom: 15px;
}

