:root {
    --base-font-size: 16px;
    --main-navi-font-size: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--tg-theme-bg-color);
}

h1 {
    color: var(--tg-theme-text-color);
}

.app-wrapper {
    position: relative;
}

.container {
    padding: 10px;
    max-width: 768px;
}

.main-navi {
    display: flex;
    flex-direction: column;
}

.main-navi-item {
    text-decoration: none;
    font-size: var(--main-navi-font-size);
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 5px;
    background-color: var(--tg-theme-secondary-bg-color);
    color: var(--tg-theme-link-color);
}

.main-navi-item .img-cont{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.main-navi-item .img-cont img{
    max-width: 100%
}


